[submodule "autojump"]
	path = autojump
	url = https://github.com/joelthelion/autojump.git
[submodule "git-tools/git-bzr-ng"]
	path = git-tools/git-bzr-ng
	url = https://github.com/termie/git-bzr-ng.git
[submodule "sshuttle"]
	path = sshuttle
	url = https://github.com/apenwarr/sshuttle.git
[submodule "gitflow"]
	path = gitflow
	url = https://github.com/petervanderdoes/gitflow.git
[submodule "bash/completion_scripts/git-flow-completion"]
	path = bash/completion_scripts/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = https://github.com/ginatrapani/todo.txt-cli.git
[submodule "xssh"]
	path = xssh
	url = https://github.com/JrCs/xssh.git
[submodule "git-archive-all"]
	path = git-archive-all
	url = https://github.com/Kentzo/git-archive-all.git
[submodule "git-blameall"]
	path = git-blameall
	url = https://github.com/ddev/git-blameall.git
[submodule "cheat"]
	path = cheat
	url = https://github.com/JrCs/cheat.git
[submodule "git-store"]
	path = git-store
	url = https://github.com/JrCs/git-store.git
[submodule "git-extras"]
	path = git-extras
	url = https://github.com/tj/git-extras.git
[submodule "git-radar"]
	path = git-radar
	url = https://github.com/michaeldfallen/git-radar.git
[submodule "kube-ps1"]
	path = kube-ps1
	url = https://github.com/jonmosco/kube-ps1.git
