[submodule "autojump"]
	path = autojump
	url = https://github.com/joelthelion/autojump.git
[submodule "git-tools/willgit"]
	path = git-tools/willgit
	url = git://gitorious.org/willgit/mainline.git
[submodule "git-tools/git-bzr-ng"]
	path = git-tools/git-bzr-ng
	url = git://github.com/termie/git-bzr-ng.git
[submodule "sshuttle"]
	path = sshuttle
	url = git://github.com/apenwarr/sshuttle.git
